<!-- 🌐 Sidebar (Desktop/Tablet) -->
<header class="header sidebar" *ngIf="!isMobile">
  <!-- Foto de perfil -->
  <section class="profile-section">
    <div class="profile-pic">
      <img src="assets/images/fotografia4.jpeg" alt="Foto de perfil">
    </div>
    <h2 class="name">Natalia Güechá</h2>
    <h3 class="role">Psicologa</h3>
  </section>

  <!-- Info de contacto -->
  <section class="contact-info">
    <p><i class="fas fa-map-marker-alt"></i> Bogotá, Colombia</p>
    <p><i class="fas fa-phone"></i> +57 316 2538804</p>
    <p><i class="fas fa-envelope"></i> psicologanataliagnieto@gmail.com</p>
  </section>

  <!-- Botones de acción -->
  <nav class="action-buttons">
    <a href="https://www.instagram.com/psicologa.nataliaguecha/" target="_blank" class="btn contact-btn">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="" target="_blank" class="btn linkedin-btn">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="" target="_blank" class="btn github-btn">
      <i class="fab fa-whatsapp"></i> whatsapp
    </a>
    <a href="" download class="btn cv-btn">
      <i class="fas fa-download"></i> Download CV
    </a>
  </nav>
</header>

<!-- 📱 Navbar (Celulares) -->
<nav class="mobile-header" *ngIf="isMobile">
  <!-- Foto de perfil -->
  <section class="profile-sectionmov">
    <div class="profile-picmov">
      <img src="assets/images/mifoto.png" alt="Foto de perfil">
    </div>
    <h2 class="name">Natalia Güechá</h2>
    <h3 class="role">Psicologa</h3>
  </section>

  <!-- Info de contacto -->
  <section class="contact-infomov">
    <p><i class="fas fa-map-marker-alt"></i> Bogotá, Colombia</p>
    <p><i class="fas fa-phone"></i> +57 316 2538804</p>
    <p><i class="fas fa-envelope"></i> psicologanataliagnieto@gmail.com</p>
  </section>

  <!-- Botones de acción -->
  <nav class="action-buttonsmov">
    <a href="https://www.instagram.com/psicologa.nataliaguecha/" target="_blank" class="btn contact-btn">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="" target="_blank" class="btn linkedin-btn">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="" target="_blank" class="btn github-btn">
      <i class="fab fa-github"></i> whatsapp
    </a>
    <a href="" download class="btn cv-btn">
      <i class="fas fa-download"></i> Download CV
    </a>
  </nav>
</nav>