PRODUCTION=false
PRODUCTS_API_URL=https://nataliaproductsapi.pocksite.com/api/v1
RESERVATIONS_API_URL=https://nataliareservationsapi.pocksite.com/api/v1
NOTIFICATIONS_API_URL=https://natalianotificationsapi.pocksite.com/api/v1
CLIENTS_API_URL=https://nataliaclientsapi.pocksite.com/api/v1
PAYMENTS_API_URL=https://nataliapaymentsapi.pocksite.com/api/v1
PSYCHOLOGISTS_API_URL=https://nataliapsychologistsapi.pocksite.com/api/v1
