<div class="myprofile">
  <!-- Imagen de fondo -->
  <div class="background-image"></div>

  <!-- Overlay oscuro -->
  <div class="overlay-dark"></div>

  <!-- Contenedor de contenido -->
  <div class="overlay">
    <!-- Título principal -->
    <div class="title-section">
      <h1 class="main-title">Psicóloga Clínica Natalia Güechá</h1>
    </div>

    <!-- Texto dinámico con palabras rotativas -->
    <div class="intro-text">
      <span class="highlight">{{ currentWord }}</span>
    </div>

    <!-- Botón central -->
    <button class="consultation-btn btn-96">
      <span>Quiero una consulta</span>
    </button>
  </div>

</div>

<app-habilidades></app-habilidades>
<app-aboutme></app-aboutme>
<app-cursos></app-cursos>
<app-projects></app-projects>
<!--<app-experiences></app-experiences>-->
<!--<app-tech></app-tech>-->
<app-contact></app-contact>
<!--<app-chatbot></app-chatbot>-->